* body {
	font-family: 'Slabo 27px', serif;	
}
body:before{
	content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
	background-color: #fdfdfd;
	background-image: url("../assets/pattern.jpg");
	background-repeat: repeat;
	background-attachment: fixed;	
	background-size: cover;
    filter: blur(2px);
    z-index: -9;
}

/* Header */
header{
	background-color: white;
	width: 100%;
	position: sticky;
	display: inline-block;
	top: 0;
}
header #logo{
	float: left;
}

/* Navbar*/
nav{
	display: inline-block;
	position: sticky;
	top: 0;
	float: right;
	padding: 0;
	margin-left: 30px;
}
nav ul{
  	list-style-type: none;
  	margin-left: 20px;
}
nav a{
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-size: 18px;
	margin: 0;
	margin-left: 20px;
	color: #1d3557;
}
nav ul a:hover{
	font-size: 20px;
	text-shadow: 0px 0px 15px #1d3557;
	transition: all 1s;
}

/* Section */
section{
	background-color: white;
	margin: 20px 150px 20px 150px;
}
h1{
	color: #1d3557;
	text-align: center;
	text-decoration: none;
	padding-top: 40px;
}

/* Article */
#article-list{
	padding: 30px;
}
article{
	margin-top: 40px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #1d3557;
}
article a{
	text-decoration: none;
}
article a:hover{
	text-shadow: 0px 0px 15px #1d3557;
	transition: all 1s;
}
article a h3{
	text-decoration: underline;
	color: #1d3557;
	text-decoration: none;
}
article p{
	text-indent: 30px;
	margin-bottom: 40px;
}

/* Footer */
footer{
	background-color: #1d3557;
	height: 70px;
	width: 100%;
	bottom: 0;	
	right: 0;
	left: 0;
}
footer h5{
	text-align: center;
	color: #f1faee;
	padding-top: 20px;
	padding-bottom: 20px;
}